<!DOCTYPE html>
<html>
<head>
	<title><%= yield :title %> - RD Segments</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div id="main">
		<div class="header">
			<h1>
				<%= yield :title %>
			</h1>
			<div class="navbar">
				<%= yield :nav %>
			</div>
		</div>
		<div id="content">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<%= yield %>
		</div>
	</div>
</body>
</html>
